.form__header,
.budget__header {
  text-align: center;
}

.budget__header--wrapper {
  display: flex;
  justify-content: space-evenly;
}

.budget__resetbutton {
  background-color: red;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  color: white;
  font-size: 1.5em;
}

.form__wrapper {
  display: flex;
  flex-direction: column;
}