.month--section {
  text-align: center;
  border: 1px solid black;
}

.month__expenses--numbers {
  display: flex;
  justify-content: space-evenly;
}
.month__buttons,
.month__expenses--entry {
  display: flex;
}

.month__buttons {
  justify-content: space-between;
}
.month__buttons--deletebtn {
  background-image: url(https://i.imgur.com/TsG3K28.png);
}

.month__buttons--goBack {
  background-image: url(https://i.imgur.com/2VPsZsa.png);
}

.month__buttons--deletebtn,
.month__buttons--goBack {
  background-size: cover;
  width: 50px;
  height: 50px;
}

.month__expenses--numbers {
  font-weight: 650;
}

.month__expenses--entry--amount {
  color: greenyellow;
}

.month__expenses--entry {
  justify-content: center;
}

.month__expenses--entry p {
  margin: 0.5em;
}

.month__expenses--delete {
  margin-left: 1em;
  font-size: 0.8em;
  color: white;
  background-color: red;
}

.month__expenses--edit {
  background-image: url(https://i.imgur.com/xWSNVME.png);
  background-size: cover;
  height: 25px;
  width: 25px;
}