.settings__button {
  background-image: url(https://i.imgur.com/QDfZT4Q.png);
  background-size: cover;
  height: 50px;
  width: 50px;
}

.settings__options,
.settings__options--entry {
  display: flex;
}

.settings__options {
  flex-direction: column;
}

.settings__options--entry {
  justify-content: space-between;
}

.settings__checkbox {
  width:20px;
  height:20px;
}